In [2]:
import pandas as pd
import re

In [31]:
df = pd.read_csv('daily08_01.csv')
df = df.drop(columns = ['Unnamed: 0', 'index'])

In [ ]:

def find_month(df_dateline):
    exp = '\d\d.*\d\d\d\d'
    try:
        month = re.search(exp, df_dateline).group()[2:-4]
        months = {'January' : 'يناير',
                        'February' : 'فبراير',
                        'March' : 'مارس',
                        'April' : 'أبريل',
                        'June' : 'يوني',
                        'July' : 'يولي',
                        'August' : 'أغسطس',
                        'September' : 'سبتمبر',
                        'October' : 'أكتوبر',
                        'November' : 'نوفمبر',
                        'December' : 'ديسمبر',
                        'April1' : 'إبريل',
                        'May': 'ماي'}
    
        months = flip_key_value_pairs(months)
        
        return re.search(exp, df_dateline).group()[2:-4]
    except:
        
        try:
            return re.search('20\d\d\W\d\d\W\d\d', val).group()

        except:
            return False

def flip_key_value_pairs(dicts):
    res = dict((v,k) for k,v in dicts.items())
    return res

df.dateline.apply(find_month)

In [33]:
df.source.value_counts()

SaudiYoum         3127
Techreen          2142
Youm7             2142
Alittihad         2142
Almustaqbal       1967
Ryiadh            1785
Alqabas           1603
Almasryalyoum     1071
Sabanews           443
Echoroukonline     357
Name: source, dtype: int64

In [206]:
df[df.source == 'Alittihad'].dateline

3213        تاريخ النشر: الأحد 21 مارس 2010
3214        تاريخ النشر: الأحد 21 مارس 2010
3215        تاريخ النشر: الأحد 21 مارس 2010
3216        تاريخ النشر: الأحد 21 مارس 2010
3217      تاريخ النشر: الإثنين 22 مارس 2010
                        ...
13918    تاريخ النشر: الجمعة 15 فبراير 2008
13919    تاريخ النشر: الجمعة 15 فبراير 2008
13920    تاريخ النشر: الجمعة 15 فبراير 2008
13921    تاريخ النشر: الجمعة 15 فبراير 2008
13922    تاريخ النشر: الجمعة 15 فبراير 2008
Name: dateline, Length: 2142, dtype: object

In [209]:
def alittihad_date(date_entry):
    months_map = {'يناير':'01',
            'فبراير':'02',
            'مارس':'03',
            'أبريل':'04',
            'مايو':'05',
            'يونيو':'06',
            'يوليو':'07',
            'أغسطس':'08',
            'سبتمبر':'09',
            'أكتوبر':'10',
            'نوفمبر':'11',
            'ديسمبر':'12',
            'إبريل':'04',
            'ماي':'05',
            'يونيه':'06',
            'يوليه':'07'}
    exp = r'(\d?\d)(.*)(\d\d\d\d)'
    match = re.search(exp, date_entry)
    day =  match[1]
    month = match[2].strip()
    year = match[3]
    month = months_map[month]
    date = year+ '-' + month + '-' + day
    return date

In [210]:
df[df.source == 'Alittihad'].dateline.apply(alittihad_date)

3213     2010-03-21
3214     2010-03-21
3215     2010-03-21
3216     2010-03-21
3217     2010-03-22
            ...
13918    2008-02-15
13919    2008-02-15
13920    2008-02-15
13921    2008-02-15
13922    2008-02-15
Name: dateline, Length: 2142, dtype: object

In [126]:
months_map

{'يناير': 'January',
 'فبراير': 'February',
 'مارس': 'March',
 'أبريل': 'April',
 'مايو': 'May',
 'يونيو': 'June',
 'يوليو': 'July',
 'أغسطس': 'August',
 'سبتمبر': 'September',
 'أكتوبر': 'October',
 'نوفمبر': 'November',
 'ديسمبر': 'December',
 'إبريل': 'April',
 'ماي': 'May',
 'يونيه': 'June',
 'يوليه': 'July'}

In [253]:
df[df.source == 'Ryiadh'].dateline.iloc[1070:1075]

9995     الجمعه 2 ربيع الأول 1427هـ - 31 مارس 2006م - ا...
11067                                           14/02/2003
11068                                           13/02/2003
11069                                           13/02/2003
11070                                           13/02/2003
Name: dateline, dtype: object

In [257]:
def ryiadh_date(date_entry):
    months_map = {'يناير':'01',
            'فبراير':'02',
            'مارس':'03',
            'أبريل':'04',
            'مايو':'05',
            'يونيو':'06',
            'يوليو':'07',
            'أغسطس':'08',
            'سبتمبر':'09',
            'أكتوبر':'10',
            'نوفمبر':'11',
            'ديسمبر':'12',
            'إبريل':'04',
            'ماي':'05',
            'يونيه':'06',
            'يوليه':'07'}
    try:
        exp = r'-\s(\d?\d)\s?(.+)\s(\d\d\d\d)\s?م'
        match = re.search(exp, date_entry)
        day =  match[1]
        month = match[2].strip()
        year = match[3]
        month = months_map[month]
        date = year+ '-' + month + '-' + day
        return date
    except:
        exp = r'(\d\d)/(\d\d)/(\d\d\d\d)'
        match = re.search(exp, date_entry)
        day =  match[1]
        month = match[2]
        year = match[3]
        date = year+ '-' + month + '-' + day
        return date

In [259]:
pd.to_datetime(df[df.source == 'Ryiadh'].dateline.apply(ryiadh_date))

2856    2005-11-25
2857    2005-11-25
2858    2005-11-25
2859    2005-11-25
2860    2005-11-25
           ...
13204   2007-12-14
13205   2007-12-14
13206   2007-12-14
13207   2007-12-14
13208   2007-12-14
Name: dateline, Length: 1785, dtype: datetime64[ns]

In [262]:
df[df.source == 'Alqabas'].dateline

4998     تم النشر في 2014/03/02
4999     تم النشر في 2014/03/02
5000     تم النشر في 2014/03/02
5001     تم النشر في 2014/03/02
5002     تم النشر في 2014/03/02
                  ...
16774    تم النشر في 2012/10/29
16775    تم النشر في 2012/10/29
16776    تم النشر في 2012/10/29
16777    تم النشر في 2012/10/29
16778    تم النشر في 2012/10/29
Name: dateline, Length: 1603, dtype: object

In [281]:
def alqabas_date(date_entry):
    exp = r'(\d\d\d\d)/(\d\d)/(\d\d)'
    match = re.search(exp, date_entry)
    day =  match[3]
    month = match[2]
    year = match[1]
    date = year+ '-' + month + '-' + day
    return date

In [283]:
pd.to_datetime(df[df.source == 'Alqabas'].dateline.apply(alqabas_date))

4998    2014-03-02
4999    2014-03-02
5000    2014-03-02
5001    2014-03-02
5002    2014-03-02
           ...
16774   2012-10-29
16775   2012-10-29
16776   2012-10-29
16777   2012-10-29
16778   2012-10-29
Name: dateline, Length: 1603, dtype: datetime64[ns]

In [284]:
df[df.source == 'Almasryalyoum'].dateline

2142     25/5/2013
2143     25/5/2013
2144     25/5/2013
2145     25/5/2013
2146     25/5/2013
           ...
16060    15/7/2008
16061    15/7/2008
16062    16/7/2008
16063    16/7/2008
16064    16/7/2008
Name: dateline, Length: 1071, dtype: object

In [299]:
def almasryalyoum_date(date_entry):
    exp = r'(\d?\d)/(\d?\d)/(\d\d\d\d)'
    match = re.search(exp, date_entry)
    day =  match[1]
    month = match[2]
    year = match[3]
    date = year+ '-' + month + '-' + day
    return date

In [301]:
pd.to_datetime(df[df.source == 'Almasryalyoum'].dateline.apply(almasryalyoum_date))

2142    2013-05-25
2143    2013-05-25
2144    2013-05-25
2145    2013-05-25
2146    2013-05-25
           ...
16060   2008-07-15
16061   2008-07-15
16062   2008-07-16
16063   2008-07-16
16064   2008-07-16
Name: dateline, Length: 1071, dtype: datetime64[ns]

In [296]:
df[df.source == 'Almasryalyoum'].dateline.iloc[85:95]

2227    31/5/2013
2228    31/5/2013
2229    31/5/2013
2230    31/5/2013
2231     1/6/2013
2232     1/6/2013
2233     1/6/2013
2234     1/6/2013
2235     1/6/2013
2236     1/6/2013
Name: dateline, dtype: object

In [303]:
df[df.source == 'Sabanews'].dateline.iloc[0]

'13/مايو/2014'

In [315]:
def sabanews_date(date_entry):
    months_map = {'يناير':'01',
            'فبراير':'02',
            'مارس':'03',
            'أبريل':'04',
            'مايو':'05',
            'يونيو':'06',
            'يوليو':'07',
            'أغسطس':'08',
            'سبتمبر':'09',
            'أكتوبر':'10',
            'نوفمبر':'11',
            'ديسمبر':'12',
            'إبريل':'04',
            'ماي':'05',
            'يونيه':'06',
            'يوليه':'07'}
    exp = r'(\d?\d)/(.+)/(\d\d\d\d)'
    match = re.search(exp, date_entry)
    day =  match[1]
    month = match[2].strip()
    month = months_map[month]
    year = match[3]
    date = year+ '-' + month + '-' + day
    return date

In [317]:
pd.to_datetime(df[df.source == 'Sabanews'].dateline.apply(sabanews_date))

357    2014-05-13
358    2014-05-14
359    2014-05-14
360    2014-05-14
361    2014-05-14
          ...
7135   2012-09-11
7136   2012-09-11
7137   2012-09-11
7138   2012-09-11
7139   2012-09-12
Name: dateline, Length: 443, dtype: datetime64[ns]

In [319]:
df[df.source == 'Echoroukonline'].dateline

14280    2012/12/01
14281    2012/12/01
14282    2012/12/01
14283    2012/12/01
14284    2012/12/01
            ...
14632    2013/01/10
14633    2013/01/10
14634    2013/01/10
14635    2013/01/10
14636    2013/01/10
Name: dateline, Length: 357, dtype: object

In [335]:
def echoroukonline_date(date_entry):
    exp = r'(\d\d\d\d)/(\d?\d)/(\d?\d)'
    match = re.search(exp, date_entry)
    day =  match[3]
    month = match[2]
    year = match[1]
    date = year+ '-' + month + '-' + day
    return date

In [337]:
pd.to_datetime(df[df.source == 'Echoroukonline'].dropna().dateline.apply(echoroukonline_date))

14280   2012-12-01
14281   2012-12-01
14282   2012-12-01
14283   2012-12-01
14284   2012-12-01
           ...
14632   2013-01-10
14633   2013-01-10
14634   2013-01-10
14635   2013-01-10
14636   2013-01-10
Name: dateline, Length: 319, dtype: datetime64[ns]

<class 'pandas.core.series.Series'>
Int64Index: 319 entries, 14280 to 14636
Series name: dateline
Non-Null Count  Dtype
--------------  -----
319 non-null    object
dtypes: object(1)
memory usage: 5.0+ KB

In [347]:
def main(dataframe, months_map):
    df = dataframe
    m_maps = months_map
    date_list = []

    for i in range(len(df)):
        if df.iloc[i].source == 'SaudiYoum':
            date_list.append(saudiyoum_date(df.iloc.[i]['dateline']))
            
        elif df.iloc[i].source == 'Techreen':
            date_list.append(techreen_date(df.iloc.[i]['dateline']))
            
        elif df.iloc[i].source == 'Youm7':
            date_list.append(youm7_date(df.iloc.[i]['dateline'], m_maps))
            
        elif df.iloc[i].source == 'Alittihad':
            date_list.append(alittihad_date(df.iloc.[i]['dateline'], m_maps))
            
        elif df.iloc[i].source == 'Almustaqbal':
            date_list.append(almustaqbal_date(df.iloc.[i]['dateline']))
            
        elif df.iloc[i].source == 'Ryiadh':
            date_list.append(ryiadh_date(df.iloc.[i]['dateline'], m_maps))
            
        elif df.iloc[i].source == 'Alqabas':
            date_list.append(alqabas_date(df.iloc.[i]['dateline']))
            
        elif df.iloc[i].source == 'Almasryalyoum':
            date_list.append(almasryalyoum_date(df.iloc.[i]['dateline']))
            
        elif df.iloc[i].source == 'Sabanews':
            date_list.append(sabanews_date(df.iloc.[i]['dateline'], m_maps))
            
        elif df.iloc[i].source == 'Echoroukonline':
            date_list.append(echoroukonline_date(df.iloc.[i]['dateline']))
        
        
    return df

SyntaxError: invalid syntax (509476467.py, line 8)

In [344]:
df.source.value_counts()

SaudiYoum         3127
Techreen          2142
Youm7             2142
Alittihad         2142
Almustaqbal       1967
Ryiadh            1785
Alqabas           1603
Almasryalyoum     1071
Sabanews           443
Echoroukonline     357
Name: source, dtype: int64

In [345]:
import date_fixer

SyntaxError: invalid syntax (date_fixer.py, line 149)